{% extends "base.html" %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/static_files/jqueryui/css/jquery.ui.core.css"/>
<link type="text/css" rel="stylesheet" href="/static_files/jqueryui/css/jquery.ui.theme.css"/>
<link type="text/css" rel="stylesheet" href="/static_files/jqueryui/css/jquery.ui.datepicker.css"/>
<style>
	div.wrap {
		text-align: center;
		padding-top: 50px;
	}
	div.query_area {
		width: 500px;
		margin: 0px auto;
	}
	div.query_area table {
		width: 100%
	}
	div.query_area td {
		text-align: left;
	}
	div.query_area td.label {
		text-align: right;
	}
	div.query_area select {
		font-size: 16px;
		width: 155px;
	}
	div.list_area {
		width: 900px;
		margin: 30px auto 0px;
	}
	#list_tbl {
		width: 100%;
	}
	
	.page_bar {
		height: 40px;
		float: right;
		text-align: right;
	}
	.page_bar div.btn_grp {
		margin: 0px;
		padding: 0px;
		display: inline-block;
	}
	.page_bar .btn_grp div{
		display: inline-block;
		margin: 5px;
		text-align: center;
		line-height: 20px;
		float: left;
		width: 20px;
		height: 20px;
	}
	.page_bar .btn_grp .btn{
		border: 2px solid #333;
		background: #eee;
		cursor: pointer;
	}
	.page_bar .btn_grp .cur_sel {
		color: #fff;
		font-weight: bolder;
		background: #999;
	}
	.page_bar .cur_page_panel {
		display: inline-block;
		margin: 0px;
		padding: 0px;
		line-height: 20px;
		font-size: 16px;
		font-weight: bolder;
	}
	.page_bar .cur_page_panel a {
		text-decoration: none;
		color: #000;
	}
	
</style>
{% endblock %}

{% block native_js %}
<script type="text/javascript" src="/static_files/jqueryui/js/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static_files/jqueryui/js/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="/static_files/jqueryui/js/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<script>
$(function(){
	$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
	var baseDatePickerOption = {
		dateFormat: 'yy-mm-dd',
		changeYear: true
	};
	$('#startTime').datepicker($.extend({}, baseDatePickerOption, {
		onSelect: function(selectedDate){
			var instance = $( this ).data( "datepicker" );
			var date = $.datepicker.parseDate(
				instance.settings.dateFormat || $.datepicker._defaults.dateFormat, 
				selectedDate, 
				instance.settings);
			$('#endTime').datepicker('option', {
				minDate: date
			});
		}
	}));
	$('#endTime').datepicker($.extend({}, baseDatePickerOption,{
		onSelect: function(selectedDate){
			var instance = $( this ).data( "datepicker" );
			var date = $.datepicker.parseDate(
				instance.settings.dateFormat || $.datepicker._defaults.dateFormat, 
				selectedDate, 
				instance.settings);
			$('#startTime').datepicker('option', {
				maxDate: date
			});
		}
	}));
	$("#ui-datepicker-div").css('font-size','0.8em')
})
</script>
{% endblock %}

{% block content %}
<div class="wrap">
	<h2>发布历史列表</h2>
	<div class="query_area">
		<form method="post" action="." id="deploy_record_query_form">
			{% csrf_token %}
			<table id="query_tbl">
				<tr>
					<td class="label">用户名:</td>
					<td>
						<input name="username" id="username"/>
					</td>
					<td class="label">发布类型</td>
					<td>
						<select name="deployType" id="deployType">
							<option value="">请选择</option>
							<option>war包</option>
							<option>补丁</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="label">工程:</td>
					<td>
						<select name="project" id="project">
							<option value="">请选择</option>
							<option>ajaxablesky</option>
							<option>passport</option>
							<option>cms</option>
							<option>search</option>
							<option>payment</option>
						</select>
					</td>
					<td class="label">版本:</td>
					<td>
						<input name="version" id="version"/>
					</td>
				</tr>
				<tr>
					<td class="label">开始时间</td>
					<td>
						<input name="startTime" id="startTime"/>
					</td>
					<td class="label">结束时间</td>
					<td>
						<input name="endTime" id="endTime"/>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: center;">
						<input type="button" value="查询" style="font-size:15px;"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<hr>
	
	<div class="list_area">
		<div class="page_bar">
			<div class="btn_grp">
				<div class="btn">1</div>
				<div class="btn cur_sel">2</div>
				<div class="btn">3</div>
				<div class="btn">4</div>
				<div>...</div>
				<div class="btn">9</div>
				<div class="btn">10</div>
			</div>
			<div class="cur_page_panel">
				<div style="display: inline-block">
					<div>
						<a href="###">&lt;&lt;</a>
						<span>当前第[2]页,共[10]页</span>
						<a href="###">&gt;&gt;</a>
					</div>
					<div style="height: 5px; line-height: 1px;">&nbsp;</div>
				</div>
			</div>
		</div>
		<br/>
		<table id="list_tbl" border="1" cellspacing="0">
			<tr>
				<th width="40">ID</th>
				<th width="100">用户名</th>
				<th width="200">发布日期</th>
				<th width="150">工程</th>
				<th width="80">版本</th>
				<th width="80">类型</th>
				<th>操作</th>
			</tr>
			{% for i in iters %}
			<tr>
				<td>1</td>
				<td>admin</td>
				<td>2012-05-09 13:00:00</td>
				<td>ajaxablesky</td>
				<td>5.12</td>
				<td>
					{% if i > 5 %}
						war包
					{% else %}
						补丁
					{% endif %}
				</td>
				<td>
					<a href="/deployRecordDetail/1/">详情</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
