{% extends "base.html" %}
{% block style %}
<style>
	div.wrap {
		text-align: center;
		padding-top: 50px;
	}
	div.sect_wrap {
		width: 800px;
		text-align: left;
		margin: 0px auto 20px;
	}
	div.sect_wrap input {
		font-size: 16px;
	}
	div.sect_wrap label {
		display: inline-block;
		width: 150px;
		font-size: 20px;
	}
	div.sect_wrap textarea {
		font-size: 20px;
		width: 800px;
		height: 200px;
	}
	ul.deploy_init_info {
		list-style: none;
		font-size: 20px;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		width: 300px;
	}
	div.upload_area .desc {
		font-size: 20px;
	}
	#deployItemField {
		width: 400px;
	}
	#uploadDetailWrap {
		display: none;
	}
</style>
{% endblock %}

{% block native_js %}
<script src="/static_files/js/ajaxfileupload.js"></script>
<script>
$(function(){
	var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
	$('#uploadBtn').click(function(){
		var $this = $(this);
		if(!$('#deployItemField').val()){
			alert('请先选择要上传的文件!');
			return false;
		}
		$this.val('上传中').attr({disabled: true});
		$.ajaxFileUpload({
			url: '/uploadDeployItem/',
			secureuri: false, 
			fileElementId:'deployItemField',
			dataType: 'json',
			data: {
				csrfmiddlewaretoken: csrfToken,
				projId: '{{project.id}}',
				version: '{{version}}',
				deployType: '{{deployType}}',
				recordId: '{{record.id}}'
			},
			success: function (data, status){
				if(typeof data == 'object' && data.isSuccess === true){
					var sizeUnits = ['byte', 'kb', 'MB', 'GB']
					var size = data.size;
					for(i=0; i <=sizeUnits.length && size > 1024; size = (size/1024).toFixed(2), i++);
					var sizeStr = size + sizeUnits[i];
					$('#uploadResult').html('文件上传成功!').css({color: 'green'});
					$('#uploadFilename').html('文  件  名: ' + data.filename).css({color: 'green'});;
					$('#uploadFileSize').html('文件大小: ' + sizeStr).css({color: 'green'});
					$('#uploadDetailWrap').show();
				}else{
					this.error(data, status);
					return;
				}
				$this.val('重新上传').attr({disabled: false});
			},
			error: function(data, status, e){
				$('#uploadResult')
						.html('文件上传失败!')
						.css({color: 'red'});
				$('#uploadDetailWrap').hide();
				$this.val('重新上传').attr({disabled: false});
			}
		});
		return false;
	});
	
	if('{{deployType}}' == 'patch'){
		$('#toggleReadmeUpdateBtn').attr({disabled: true}).css({display: 'none'});
		$('#uploadReadmeBtn').attr({disabled: true}).css({display: 'none'});
		$('#readmeField').css({display: 'none'});
	}
	$('#toggleReadmeUpdateBtn').toggle(function(){
		$('#readmeUpdateArea').slideDown();
		$(this).val('收起readme更新区');
	}, function(){
		$('#readmeUpdateArea').slideUp();
		$(this).val('更新readme');
	});
	$('#uploadReadmeBtn').click(function(){
		if(!$('#readmeField').val()){
			alert('请先选择要上传的readme文件!');
			return false;
		}
		$this = $(this);
		$this.val('readme上传中').attr({disabled: true});
		$.ajaxFileUpload({
			url: '/uploadReadme/',
			secureuri: false, 
			fileElementId:'readmeField',
			dataType: 'json',
			data: {
				csrfmiddlewaretoken: csrfToken,
				projName: '{{project.name}}',
				version: '{{version}}',
			},
			success: function (data, status){
				if(typeof data == 'object' && data.isSuccess === true){
					$('#readmeContent').val(data.readmeContent);
				}else{
					this.error(data, status);
					return;
				}
				$this.val('上传新的readme').attr({disabled: false});
			},
			error: function(data, status, e){
				alert('readme上传失败');
				$this.val('上传新的readme').attr({disabled: false});
			}
		})
	});
	
	
	if('{{deployType}}' == 'war'){
		$('#decompressBtn').attr({disabled: true}).css({display: 'none'});
	}
	$('#decompressBtn').click(function(){
		$('#decompressBtn').val('解压中').attr({disabled:true});
		$.post('/decompressItem/', {
			recordId: '{{record.id}}'
		}, function(data){
			$('#decompressBtn').val('解压补丁文件').attr({disabled:false});
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(result && result.isSuccess === true){
				if(result.readme){
					$('#readmeContent').val(result.readme);
				}
				alert('解压缩成功!');
			}else{
				alert('解压缩失败!')
			}
		})
	});
	
	$('#startDeployBtn').click(function(){
		$.post('/startDeploy/', {
			recordId: '{{record.id}}',
			deployType: '{{deployType}}',
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(!result || result.beginDeploy !== true){
				alert('发布启动失败!');
				failedInDeployProcess(result.errorMsg);
				return;
			}else{
				$('#startDeployBtn').val('发布中').attr({disabled: true});
				$('#deployStatus').html('发布启动成功').css({color: 'green'});
				$('#logContent').val('');
			}
			var logReadInterval = 1500;
			setTimeout(readLogOnRealtime, logReadInterval);
			function readLogOnRealtime(){
				$.getJSON('/readDeployLogOnRealtime/', {
					recordId: '{{record.id}}'
				}, function(data){
					if(!data){
						alert('日志实时读取出错了!');
						failedInDeployProcess();
						return;
					}
					if(data.isFinished === true){
						alert('发布已完成!');
						//TODO
						$('#startDeployBtn').val('重新发布').attr({disabled: false});
						if(data.deployResult === true){
							$('#deployStatus').html('发布成功').css({color: 'green'});
						}else{
							$('#deployStatus').html('发布失败').css({color: 'red'});
						}
						return;
					}
					if(!data.isFinished){
						$logContent = $('#logContent');
						var newLogInfoArr = [];
						if(data.logInfo && data.logInfo.length){
							for(var i=0; i<data.logInfo.length; i++){
								newLogInfoArr.push(data.logInfo[i]);
							}
						}
						$logContent.val($logContent.val() + newLogInfoArr.join(''));
						$logContent.scrollTop($logContent[0].scrollHeight - $logContent.height());
						setTimeout(readLogOnRealtime, logReadInterval)
					}
				});
			}
		});
		
		function failedInDeployProcess(errorMsg){
			var tip = errorMsg? ' [ ' + errorMsg + ' ] ' : '';
			$('#startDeployBtn').val('重新发布').attr({disabled: false});
			$('#deployStatus').html('发布失败，请重新发布' + tip).css({color: 'red'});
		}
	})
	
	$('#unlockAndLeave').click(function(){
		if(!confirm('确认要解锁本次发布并离开?')){
			return;
		}
		window.onbeforeunload = null;
		location.href = '/unlockDeploy';
	});
});
window.onbeforeunload = function(){
	var alarmStr = '发布过程中，请不要离开!\n请点击 [ 取消 ] 或 [ 留在此页 ] ';
	if($.browser.mozilla === true && !confirm(alarmStr)){
		return false;
	}
	window.event.returnValue = alarmStr;
	return alarmStr;
};
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="wrap">
	<h2>发布工程</h2>
	<div class="sect_wrap">
		<ul class="deploy_init_info">
			<li>发布工程: <b>{{project.name}}</b></li>
			<li>版&nbsp;本&nbsp;号: <b>{{version}}</b></li>
			<li>发布方式: <b>{{deployType}}</b></li>
		</ul>
		<br/><br/>
		<div class="upload_area">
			<label>上传文件:</label>
			<input type="file" name="deployItemField" id="deployItemField"/>
			<input type="button" value="上传" id="uploadBtn"/>
			<br/>
			<label>文件上传状态:</label>
			<span class="desc" id="uploadResult">尚未上传文件</span>
			<br/>
			<div id="uploadDetailWrap">
				<label></label>
				<span class="desc" id="uploadFilename"></span>
				<br/>
				<label></label>
				<span class="desc" id="uploadFileSize"></span>
			</div>
		</div>
	</div>
	<div class="sect_wrap">
		<div class="check_area">
			<input type="button" value="解压补丁文件" id="decompressBtn"/>
			<input type="button" value="更新readme" id="toggleReadmeUpdateBtn"/>
			<div id="readmeUpdateArea" style="display:none; padding-top:20px;">
				<input type="file" name="readmeField" id="readmeField"/>
				<input type="button" value="上传新的readme" id="uploadReadmeBtn"/>
			</div>
			<div style="padding-top: 20px;">
				<label>README</label>
				<br/>
				<textarea id="readmeContent" readonly="readonly">{{readmeContent}}</textarea>
			</div>
			<div style="padding-top: 20px;">
				<input type="button" value="发布" id="startDeployBtn"/>
				<span style="font-size: 20px;" id="deployStatus"></span>
			</div>
			<div style="padding-top: 20px;">
				<label>LOG</label>
				<br/>
				<textarea id="logContent" readonly="readonly" style="height: 400px;"></textarea>
			</div>
			<div style="padding-top: 20px;">
				<input type="button" id="unlockAndLeave" value="解锁并返回首页"/>
			</div>
		</div>
	</div>
</div>
{% endblock %}
