{% extends "base.html" %}
{% block style %}
<style>
	div.wrap {
		text-align: center;
		padding-top: 50px;
	}
	div.sect_wrap {
		width: 700px;
		text-align: left;
		margin: 0px auto 20px;
	}
	div.sect_wrap input {
		font-size: 16px;
	}
	div.sect_wrap label {
		display: inline-block;
		width: 150px;
		font-size: 20px;
	}
	div.sect_wrap textarea {
		font-size: 20px;
		width: 700px;
		height: 200px;
	}
	ul.deploy_init_info {
		list-style: none;
		font-size: 20px;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		width: 300px;
	}
	div.upload_area .desc {
		font-size: 20px;
	}
	#deployItemField {
		width: 400px;
	}
	#uploadDetailWrap {
		display: none;
	}
</style>
{% endblock %}

{% block native_js %}
<script src="/static_files/js/ajaxfileupload.js"></script>
<script>
$(function(){
	var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
	$('#uploadBtn').click(function(){
		$(this).ajaxStart(function(){
			$(this).val('上传中').attr({disabled: true});
		})
		.ajaxComplete(function(){
			$(this).val('重新上传').attr({disabled: false});
		})
		if(!$('#deployItemField').val()){
			alert('请先选择要上传的文件!');
			return false;
		}
		$.ajaxFileUpload({
			url: '/uploadDeployItem/',
			secureuri: false, 
			fileElementId:'deployItemField',
			dataType: 'json',
			data: {
				csrfmiddlewaretoken: csrfToken,
				project: '{{project}}',
				version: '{{version}}',
				deployType: '{{deployType}}',
			},
			success: function (data, status){
				if(typeof data == 'object' && data.isSuccess === true){
					var sizeUnits = ['byte', 'kb', 'MB', 'GB']
					var size = data.size;
					for(i=0; i <=3 && size > 1024; size = (size/1024).toFixed(2), i++);
					var sizeStr = size + sizeUnits[i];
					$('#uploadResult').html('文件上传成功!').css({color: 'green'});
					$('#uploadFilename').html('文  件  名: ' + data.filename).css({color: 'green'});;
					$('#uploadFileSize').html('文件大小: ' + sizeStr).css({color: 'green'});
					$('#uploadDetailWrap').show();
				}else{
					this.error(data, status)
				}
			},
			error: function(data, status, e){
				$('#uploadResult')
						.html('文件上传失败!')
						.css({color: 'red'});
				$('#uploadDetailWrap').hide();
			}
		})
		return false;
	});
	$('#unlock_and_leave').click(function(){
		if(!confirm('确认要解锁本次发布并离开?')){
			return;
		}
		window.onbeforeunload = null;
		location.href = '/unlockDeploy';
	})
});
window.onbeforeunload = function(){
	var alarmStr = '发布过程中，请不要离开!\n请点击 [ 取消 ] 或 [ 留在此页 ] ';
	if($.browser.mozilla === true && !confirm(alarmStr)){
		return false;
	}
	window.event.returnValue = alarmStr;
	return alarmStr;
};
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="wrap">
	<h2>发布工程</h2>
	<div class="sect_wrap">
		<ul class="deploy_init_info">
			<li>发布工程: <b>{{project.name}}</b></li>
			<li>版&nbsp;本&nbsp;号: <b>{{version}}</b></li>
			<li>发布方式: <b>{{deployType}}</b></li>
		</ul>
		<br/><br/>
		<div class="upload_area">
			<label>上传文件:</label>
			<input type="file" name="deployItemField" id="deployItemField"/>
			<input type="button" value="上传" id="uploadBtn"/>
			<br/>
			<label>文件上传状态:</label>
			<span class="desc" id="uploadResult">尚未上传文件</span>
			<br/>
			<div id="uploadDetailWrap">
				<label></label>
				<span class="desc" id="uploadFilename"></span>
				<br/>
				<label></label>
				<span class="desc" id="uploadFileSize"></span>
			</div>
		</div>
	</div>
	<div class="sect_wrap">
		<div class="check_area">
			<input type="button" value="解压并检查上传文件"/>
			<div style="padding-top: 20px;">
				<label>README</label>
				<br/>
				<textarea id="readme_content"></textarea>
			</div>
			<div style="padding-top: 20px;">
				<input type="button" value="更新web.xml"/>
				<input type="button" value="发布"/>
			</div>
			<div style="padding-top: 20px;">
				<label>LOG</label>
				<br/>
				<textarea id="log_content"></textarea>
			</div>
			<div style="padding-top: 20px;">
				<input type="button" id="unlock_and_leave" value="解锁并返回首页"/>
			</div>
		</div>
	</div>
</div>
{% endblock %}
